body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Arial", sans-serif;
  background: #141414;
  color: #fff;
}

html {
  height: 100%;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100vw;
  min-height: 100vh;
  background: #141414;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 700;
  margin: 0 0 16px 0;
}

p,
span,
li,
.episode-card p {
  color: #e5e5e5;
}

#root h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

a {
  color: #e50914; /* Netflix red */
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #b0060f;
  text-decoration: underline;
}

#episode-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 32px;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.episode-card {
  background: #181818;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.7);
  padding: 16px;
  color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.2s;
}

.episode-card:hover {
  transform: scale(1.05);
}
.episode-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  display: block;
}

.episode-card h2 {
  font-size: 1.5rem;
  margin: 10px 0 6px 0;
  font-weight: 700;
  color: #fff;
  height: 50px;
  display: block;
}

.episode-card p {
  font-size: 1rem;
  color: #fff;
  margin: 0 0 16px 0;
}

.episode-summary {
  font-size: 0.9rem;
  color: #e5e5e5;
  margin: 10px 0;
}

.data-source {
  text-align: center;
  margin-top: auto;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #181818;
  padding: 20px 0 16px 0;
  font-size: 1.1em;
  color: #e5e5e5;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#drop-down-search{
  width: 15%;
  font-size: 0.9rem;
  padding: 2px 5px;
  color: green;
}
